.btn-outline-primary {
    color: #5f6769;
    border-color: #5f6769;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #747e80;
    border-color: #747e80;
}

.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.5);
}
.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
    color: #fff;
    background-color: #747e80;
    border-color: #747e80;
}
.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.5);
    background-color: #ffffff;
}

.input-knob:disabled {
    background-color: #ffdefc;
}

.freq-control {
    font-size: 14pt;
}